*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    padding: 15px;
    gap: 10px;
    justify-content: space-between;
    align-items: center ;
}

nav img{
    width: 20px;
    height: 20px;
}

input{
    width: 65%;
    border-radius: 25px;
    padding: 10px;
}
